img {
    max-width: 500px;
}

@font-face {
  font-display: swap;
  font-family: "Roboto Serif", serif, system-ui;
  src:  url("/fonts/RobotoSerif.woff2") format("woff2"),
        url("/fonts/RobotoSerif.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-display: swap;
  font-family: "Roboto Serif", serif, system-ui;
  src:  url("/fonts/RobotoSerif-Italic.woff2") format("woff2"),
        url("/fonts/RobotoSerif-Italic.woff") format("woff");
  font-style: italic;
  font-weight: 400;
}

body {
    font-family: "Roboto Serif";
}