img {
    max-width: 500px;
}

@font-face {
  font-display: swap;
  font-family: "Roboto Serif", serif, system-ui;
  src:  url("/fonts/RobotoSerif.woff2") format("woff2"),
        url("/fonts/RobotoSerif.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-display: swap;
  font-family: "Roboto Serif", serif, system-ui;
  src:  url("/fonts/RobotoSerif-Italic.woff2") format("woff2"),
        url("/fonts/RobotoSerif-Italic.woff") format("woff");
  font-style: italic;
  font-weight: 400;
}

body {
    font-family: "Roboto Serif";
}

h1, h2 {
    text-align: center;
}

p {
    text-align: justify;
}


/* nav styles */

.nav-links {
  width: 100%;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #0cdd0f;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #ff9776;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
}