---
import MySiteLayout from '../layouts/BaseLayout.astro';
---

<MySiteLayout title="Contact"
              description='How to get in contact with me' 
              publishDate="30 January 2026" 
              viewCount={0}>
  <p>No yet Holmes, give me a min</p>
</MySiteLayout>