---
import MySiteLayout from '../layouts/BaseLayout.astro';
---

<MySiteLayout title="Home Page"
              description='Home page where the user will get an intro to the purpose and overview of site.' 
              publishDate="30 January 2026" 
              viewCount={0}>
  <p>My page content, wrapped in a layout!</p>
  <p>Isn't this crazy bro??!!!</p>
</MySiteLayout>