---
import MySiteLayout from '../layouts/BaseLayout.astro';
---

<MySiteLayout title="Home Page"
              description='Home page where the user will get an intro to the purpose and overview of site.' 
              publishDate="30 January 2026" 
              viewCount={0}>
  <p>My page content, wrapped in a layout!</p>
  <p>Isn't this crazy bro??!!!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti perspiciatis quaerat ullam sequi illum voluptate voluptatum impedit ducimus consequuntur aperiam, ipsa, nulla eius nemo iste soluta in rem labore quae! Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore soluta doloremque praesentium explicabo delectus. Necessitatibus, dolores reprehenderit. Obcaecati soluta nostrum vitae veniam voluptates magni, ut voluptate nobis explicabo eaque qui!</p>
</MySiteLayout>