---
import MySiteLayout from '../layouts/BaseLayout.astro';
---

<MySiteLayout title="Portfolio">
  <h2>Project One</h2>
    <p>My projects will go here eventually</p>
    <picture><link rel="stylesheet" href="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic1.howtogeekimages.com%2Fwordpress%2Fwp-content%2Fuploads%2F2024%2F09%2Fa-linux-laptop-with-the-terminal-open-several-penguins-looking-at-the-screen-and-a-performance-graph-in-the-background.jpg&f=1&nofb=1&ipt=ef210cd5280afff8650308c31716fb623f2efbb44b50ca9bae85e91a4c622e06"></picture>
</MySiteLayout>