---
import MySiteLayout from '../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
---

<MySiteLayout title="Portfolio"
              description='A general index of all my projects' 
              publishDate="30 January 2026" 
              viewCount={0}>
  <h2>Project One</h2>
    <p>My projects will go here eventually</p>
    <Image src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic1.howtogeekimages.com%2Fwordpress%2Fwp-content%2Fuploads%2F2024%2F09%2Fa-linux-laptop-with-the-terminal-open-several-penguins-looking-at-the-screen-and-a-performance-graph-in-the-background.jpg&f=1&nofb=1&ipt=ef210cd5280afff8650308c31716fb623f2efbb44b50ca9bae85e91a4c622e06" alt="A description of my image." width={200} height={150}/>
</MySiteLayout>