---
import CVComponents from "../../components/cv-components.astro"
---

<CVComponents
        institution="Liberty University"
        location="Lynchburg, VA"
        field="Bachelor of Science in Information Technology: Data Networking and Security Cognate"
        date="2022 - 2025"
        from="2022"
        to="2026"
        tags={["education", "it", "networking"]}
        >
            <ul>
                <li>Relevant Coursework: Windows System Admin, Information Security Policies, Networking, Cyber Security, Database Management Systems, Discrete Structures and Python.</li>
            </ul>

</CVComponents>