---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Navigation from '../components/Navigation.astro';

import "../styles/styles.css"

interface Props {
  title: string;
  description: string;
  publishDate: string;
  viewCount: number;
}
const { title, description, publishDate, viewCount } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- Favicon -->
    <link rel="icon" href="/favicon.svg" />
    <BaseHead title={title}/>
  </head>
  <body>
    <nav>
      <Navigation />
    </nav>
    <main class="page-container">
      <h1>{title}</h1>
        <article>
      
          <slot /> <!-- your content is injected here -->
     
        </article>
    </main>
    <Footer />
  </body>
</html>